.CardArea {
    .CardBox {


        .Carddio {

            .ImgCard {
width: 100%;
                img {
                    width: 100%;
                }
            }

            .CardText {}



        }
    }
}

.CardMinibox {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
    .Icon{
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
}